<a href="https://colab.research.google.com/github/rudxkush/Machine-Learning/blob/main/Python/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
# It provides high performance, easy to use data structure and data analysis tools
import numpy as np

In [43]:
df = pd.DataFrame(np.arange(0, 20).reshape(5, 4),
                  index= ["Row1", "Row2", "Row3", "Row4", "Row5"], columns=["Column1", "Column2", "Column3", "Column4"]);
# DataFrame takes: data + row names (index) + column names
# print(df);
df.iloc[0:6,0:5]
# Note : DataFrame is excel sheet with rows and columns whereas, Series is Single Strip of Data

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [44]:
df.to_csv("Test1.csv"); # creates csv file

In [45]:
# To access the elements
df.loc['Row1']
# df.loc['Row1', 'Column2']
# .loc : label based indexing (rows and columns by name)
# .iloc : position based indexing (rows and columns by number)

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [46]:
df.iloc[3, 3]

np.int64(15)

In [47]:
df.iloc[0:3, 0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [48]:
df.iloc[:, 1:] # Exclude Column1

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [49]:
df.iloc[:, 1:].values # convert dataframe into array

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])