<a href="https://colab.research.google.com/github/rudxkush/Machine-Learning/blob/main/Python/Python102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def print_item_details(*Args, **kwargs):
  print(Args)
  print(kwargs)

print_item_details(22, "blah", name = "itcy", weight = 23.34)

(22, 'blah')
{'name': 'itcy', 'weight': 23.34}

In [2]:
## map
def even_or_odd(num):
  if(num%2 == 0):
    print("the number {} is even".format(num));
  else:
    print("the number {} is odd".format(num));

arr = [1, 2, 3, 5, 6, 7, 11, 10, 8]
list(map(even_or_odd, arr)) # Note : map() collects the return values of the function it applies
# in this case it None.

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 5 is odd
the number 6 is even
the number 7 is odd
the number 11 is odd
the number 10 is even
the number 8 is even

[None, None, None, None, None, None, None, None, None]

In [3]:
## lambda
addition = lambda a, b : a + b
print(addition(12, 12))

24

In [4]:
## filter function
arr = [1, 2, 3, 5, 6, 7, 11, 10, 8]
print(list(filter(lambda num : num%2 == 0, arr)))

def lst_square(lst):
    for i in range(len(lst)):
        lst[i] = lst[i] * lst[i]
    print(lst)

lst = [1, 2, 3, 4, 5, 6, 7]
lst_square(lst)

[2, 6, 10, 8]
[1, 4, 9, 16, 25, 36, 49]

In [5]:
## list comprehension
print([i*i for i in lst if i%2 == 0])

[16, 256, 1296]

In [6]:
## list formatter
def good_time(name):
   print("He was so good in bed that {} forgot she was already in a relationship with someone else.".format(name))

good_time("Adithi")

He was so good in bed that Adithi forgot she was already in a relationship with someone else.

In [7]:
## list is iterables
lst = [1, 2, 3, 5, 6, 9]

for i in lst:
  print(i);

1
2
3
5
6
9

In [8]:
## list is an iterator
lst1 = [1, 2]
iter1 = iter(lst1)
print(iter1)

<list_iterator object at 0x7d2969445ea0>

In [9]:
next(iter1)

1

In [10]:
next(iter1)

2